name: Metrics

on:
  schedule:
    # 00:00 and 12:00 at America/Fortaleza (UTC-3)
    - cron: "0 3 * * *"
    - cron: "0 15 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  display_metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Stats Card (Action-generated)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.base.svg
          user: gabrielldn
          token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_branch: main
          output_action: commit
          base: header, activity, community, repositories, metadata
          base_indepth: yes
          config_timezone: America/Fortaleza
          repositories_forks: yes
          repositories_affiliations: owner, collaborator, organization_member

      - name: Generate Trophies Card (Action-generated)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.achievements.svg
          user: gabrielldn
          token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_branch: main
          output_action: commit
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

      - name: Generate Achievements Detailed Card (Action-generated)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.achievements.detailed.svg
          user: gabrielldn
          token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_branch: main
          output_action: commit
          base: ""
          plugin_achievements: yes
          plugin_achievements_display: detailed

      - name: Generate Pinned Repositories Card (Action-generated)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.repositories.pinned.svg
          user: gabrielldn
          token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_branch: main
          output_action: commit
          base: ""
          plugin_repositories: yes
          plugin_repositories_pinned: 6
