name: Metrics

on:
  schedule:
    # 00:00 and 12:00 at America/Fortaleza (UTC-3)
    - cron: "0 3 * * *"
    - cron: "0 15 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  display_metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Generate Stats Card (Action-generated)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.base.svg
          user: gabrielldn
          token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_branch: main
          output_action: commit
          base: header, activity, community, repositories, metadata
          base_indepth: yes
          config_timezone: America/Fortaleza
          repositories_forks: yes
          repositories_affiliations: owner, collaborator, organization_member
          plugin_activity: yes
          plugin_activity_visibility: all
          plugin_activity_limit: 6
          plugin_activity_days: 30
          plugin_activity_filter: issue, pr, review, release, ref/create, ref/delete

      - name: Generate Trophies Card (Action-generated)
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.achievements.svg
          user: gabrielldn
          token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_token: ${{ secrets.PAT_PERSONAL_GAELLOPES || github.token }}
          committer_branch: main
          output_action: commit
          base: ""
          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_achievements_only: >-
            polyglot, stargazer, sponsor, deployer, member, maintainer, developer,
            scripter, packager, explorer, infographile, manager
